form {
  font-family: "Courier New", Courier, monospace;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  width: 40%;
  background-color: #e3e3e3;
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form .container {
  margin: 2px auto;
  padding: 10px;
}

.form-control {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 330px;
  border-radius: 6px;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
}

form label {
  margin-left: 65px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  font-size: 10px;
  line-height: 35px;
  padding: 10 16px;
  width: 100px;
  color: white;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

fieldset {
  border: none;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.warning {
  color: goldenrod;
  text-align: center;
}

.danger {
  color: #dc3545;
  text-align: center;
}

.btn-group {
  display: flex;
  justify-content: center;
}

.btn-warning {
  background-color: #ffca2c;
}

.is-invalid {
  border: 2px solid tomato;
}
