<div class="container">
  <div class="row mt-4">
    <section class="contact">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Sign in</legend>
             <div class="container">
            
            
             <label for="firstName">First name</label>
             <input formControlName="firstName" 
             [ngClass]="{'is-invalid': submit && h.firstName.errors}"
             class="form-control" type="text" name="firstName"
              id="firstName" placeholder="First name" />
             <p class="warning">First name is required !</p>
            
             <label for="lastName">Last name</label>
             <input formControlName="lastName" 
             [ngClass]="{'is-invalid': submit && h.lastName.errors}"
             class="form-control" type="text" name="LastName" id="LastName" placeholder="Last name" />
             <p class="warning">Last name is required !</p>

             <label for="email">Email</label>
             <input  formControlName="email"
             [ngClass]="{'is-invalid': submit && h.email.errors}"
             class="form-control" type="email" id="email" name="email" placeholder="exemple@ex.com"/>
             <p class="warning">Email is required !</p>
             <p class="danger">Please enter a valid email !</p>

             <label for="password">Password</label>
             <input  formControlName="password"
             [ngClass]="{'is-invalid': submit && h.password.errors}"
             class="form-control" id="objet" id="password" name="password" placeholder="password" type="password">
             <p class="warning">Password name is required !</p>

             <label for="cofirm">Confirm password</label>
             <input formControlName="confirmPassword" 
             [ngClass]="{'is-invalid': submit && h.confirmPassword.errors}"
              class="form-control" id="cofirm" id="password" name="cofirm" placeholder="cofirm password" type="password">
             <p class="danger">Passwords do not match</p>


             <label for="terms">
             <input type="checkbox"
             [ngClass]="{'is-invalid': submit && h.acceptTerms.errors}"
             name="terms" id="terms" formControlName="acceptTerms">
             Accept Terms</label>
             <p class="danger">Please accept Terms</p>

             <div class="btn-group">
              <button>Send</button>
              <button class="btn-warning" (click)="onReset()">Reset</button>
             </div>
            
         </div>
        </fieldset>
        <div style="color:  tomato;">
          <p>{{registerForm.value | json }}</p>  
          <p>{{registerForm.valid | json}}</p>
        </div>
        
      </form>  
  </section>   

  </div>
</div>